#HTML
'.text.html':
  'row bootstrap':
    'prefix': 'div.row'
    'body': """
            <div class="row">
              $1
            </div>
            """
  'col bootstrap':
    'prefix': 'div.col'
    'body': """
            <div class="col-${1:sm}-${2:X}">
              $3
            </div>
            """
  'select':
    'prefix': 'select'
    'body': """
            <select>
              <option value="$1">$2</option>
            </select>
            """
  'ul':
    'prefix': 'ul'
    'body': """
            <ul>
              <li>$1</li>
            </ul>
            """
  'li and span':
    'prefix': 'lispan'
    'body': """
            <li><span>$1</span></li>
            $2
            """
  'p':
    'prefix': 'p'
    'body': """<p>$1</p>"""

#JavaScript
'.source.js':
  'for':
    'prefix': 'for'
    'body': """
            for (var i = 0; i < ${1:Array}.length; i++) {
              ${1:Array}[0] $2
            }
            """
